body{
    color:white;
    background-color: #005F6A  ;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul{

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    background-color: aliceblue;

}
a{
    color:black;
    text-decoration: none;
    border-radius: 45%;
}